@use "../helpers" as *;

.start {
  align-self: center;
  display: flex;
  flex-direction: column;
  row-gap: rem(24);
  width: 100%;
  max-width: rem(800);
  /*min-height: 365px;*/
  min-height: rem(429);
  padding: 24px;
  background-color: var(--color-light);
  border: var(--border);
  border-radius: var(--border-radius);
  transition-duration: var(--transition-duration);

  &__form {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: rem(10);
  }

  &__field {
    display: flex;
    column-gap: rem(20);
  }

  &__input-title {
    font-weight: 600;
    font-size: rem(25);
  }

  &__input {
    height: rem(50);
    padding: rem(10) rem(15);
    border: rem(1) solid var(--color-accent);
    border-radius: rem(15);
  }

  &__add-btn {
    align-self: flex-end;
    height: rem(50);
    padding: rem(10) rem(30);
    background-color: var(--color-light);
    border-radius: rem(15);
    border: rem(3) solid var(--color-accent);
    color: var(--color-accent);
    font-weight: 600;
    font-size: rem(15);
  }

  &__start-btn {
    height: rem(65);
    padding: rem(10) rem(30);
    background-color: var(--color-light);
    border-radius: rem(15);
    border: rem(3) solid var(--color-accent);
    color: var(--color-accent);
    font-weight: 600;
    font-size: rem(25);
  }
}
