@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Regular.woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-SemiBold.woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Black.woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
