@use "helpers" as *;

:root {
  --color-light: #ffffff;

  --color-bg: radial-gradient(
    circle,
    rgba(235, 237, 255, 1) 0%,
    rgba(102, 5, 83, 1) 100%
  );

  --color-accent: rgba(102, 5, 83, 1);
  --color-accent-alt: rgb(168, 81, 150);
  --color-red: #ff5500;

  --gradient: linear-gradient(
    45deg,
    var(--color-dar1k-15) 64%,
    var(--color-accent) 136%
  );

  --border: #{rem(3)} solid var(--color-light);
  --border-radius: #{rem(30)};

  --font-family-base: "Raleway", sans-serif;

  --transition-duration: 0.2s;
}
